
/ShineRobot/InterfaceDemo.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ShineRobot-master.iml
/.idea/vcs.xml

/ShineRobot/build/
/ShineRobot/dist/
