
/ShineRobot/InterfaceDemo.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ShineRobot-master.iml
/.idea/vcs.xml

/ShineRobot/build/
/ShineRobot/dist/
/ShineRobot/picture/BackGround.jpg
/ShineRobot/picture/robot_13597.ico
/.idea/ShineRobot.iml
/ShineRobot/ShineRobot_main.spec
/.idea/workspace.xml
